* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}
nav {
    background-color: #007eb8;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 3%;
    position: relative;
    z-index: 3;
}
nav::after {
    content: '';
    clear: both;
    display: table;
}
nav ul {
    list-style: none;
    position: relative;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 24px;
    font-size: 11px;
    padding: 10px 8px;
}
nav ul li .nav-dropdown a:hover {
    box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.3), 
                -5px 0px 50px 0px rgba(0, 0, 0, 0.3);
}
nav ul ul {
    background-color: #0072a7;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0 10px 0;
}
nav ul li .nav-dropdown:hover > ul {
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
nav ul ul li {
    position: relative;
    margin-top: 5px;
    width: 220px;
    padding-left: 8px;
    display: list-item;
}
nav ul ul div {
    background-color: #006b9b;
}
nav ul ul li a {
    font-size: 12px;
    line-height: 30px;
}
nav ul li .nav-dropdown ul li a:hover {
    box-shadow: none;
}
nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}
li img {
    vertical-align: middle;
}

header {
    background-color: #0095da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3% 10px;
    position: sticky;
    top: 0;
    z-index: 20;
}
header .logo {
    width: 110px;
}
header a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
header .icon_kategori {
    position: relative;
    display: inline-block;
}
header .icon_kategori:hover .bar_list_kategori {
    display: block;
}
header .icon_kategori:hover .segitiga_atas {
    display: block;
}
header .segitiga_atas {
    display: none;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 14px solid #fff;
    left: 40px;
    top: 20px;
}
header .bar_list_kategori {
    display: none;
    position: absolute;
    width: 270px;
    height: 400px;
    margin-top: 10px;
    left: -180px;
    border-radius: 15px;
    background-color: white;
    padding: 15px 0px 10px 10px;
}
header .bar_list_kategori a {
    font-size: 12px;
    color: black;
}
header .bar_list_kategori a:hover {
    color: #0095da;
    transition: .3s;
}
header .bar_list_kategori .list_kategori {
    font-size: 12px;
    cursor: pointer;
    padding-top: 5px;
}
header .list_kategori a:hover{
    color: #0095da;
    transition: .3s;
}
header .bar_list_kategori .list_kategori img {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
    vertical-align: middle;
}
header .bar_list_kategori .list_kategori:hover {
    color: #0095da;
    transition: .3s;
}

header .icon_kategori .bar_list_kategori .list_kategori:hover .list_kategori_konten {
    display: block;
}

header .list_kategori_konten {
    display: none;
    position: fixed;
    width: 810px;
    height: 400px;
    top: 101px;
    left: 290px;
    border-radius: 0 15px 15px 0;
    background-color: white;
    padding: 15px;
}
header .list_kategori_kontenxx {
    display: none;
    position: absolute;
    width: 810px;
    height: 400px;
    margin-top: 10px;
    left: 90px;
    border-radius: 0 15px 15px 0;
    background-color: white;
    padding: 15px;
}
header hr {
    margin-top: 3px;
    margin-bottom: 5px;
    color: #fff;
}
header .list_kategori_konten p {
    font-size: 12px;
}
header .list_kategori_konten p {
    color: black;
    cursor: auto;
}
header .list_kategori_konten_teks {
    display: flex;
}
header .konten {
    display: flex;
}

header .list_kategori_konten_teks .col {
    display: inline-block;
    width: 32%;
    padding: 10px 0;
}
header .list_kategori_konten_teks .col p {
    font-size: 14px;
    margin-bottom: 15px;
}
header .list_kategori_konten_teks .col a {
    font-size: 12px;
    color: black;
    line-height: 20px;
}
header .list_kategori_konten_teks .col a:hover {
    color: #0095da;
    transition: .3s;
}
header .list_kategori_konten_teks .konten img {
    width: 225px;
    height: 330px;
    right: 0;
    margin-top: 10px;
    border-radius: 10px;
}
.w70 {
    width: 70%;
}
.w30 {
    width: 30%;
}
header .icon {
    vertical-align: middle;
    padding: 5px;
}
header .search_bar {
    padding: 14px;
    border-radius: 15px;
    background-color: white;
}
header .cari_kategori {
    color: #000;
    font-size: 12px;
    padding: 5px 0px 5px 5px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 155px;
}
.icon_arrow_biru {
    height: 20px;
    vertical-align: middle;
    padding-left: 30px;
}
header .cari_kategori:hover {
    background-color: #daf3ff;
    color: #0095da;
    transition: .3s;
}
.cari_kategori_bar_konten {
    display: none;
    position: absolute;
    color: #000;
    font-size: 12px;
    width: 550px;
    height: 180px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: white;
    padding: 15px;
}
.cari_kategori_bar_konten .title{
    font-size: 14px;
    margin: 0 5px 5px 5px;
}
header .ckbk_teks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
header .ckbk_teks:after {
    content: "";
    flex: 0 1 200px;
    margin: 5px;
}
.ckbk_teks_item {
    flex: 0 1 160px;
    height: 10px;
    margin: 5px 0 5px 0;
  }
header .ckbk_teks a {
    color: #666;
    padding: 3px 5px 3px 5px;
    border-radius: 15px;
    font-size: 12px;
}
header .ckbk_teks a:hover {
    background-color: #daf3ff;
    color: #0095da;
    transition: .3s;
}
.show {
    display: block;
    transition: .3s;
    opacity: 1;
    visibility: visible;
}
header input {
    border: 0px;
    width: 300px;
    outline: none;
}
header .icon_search {
    padding: 10px 15px 5px 15px;
    background-color: #0095da;
    border-radius: 10px;
    vertical-align: middle;
}
header .search_bar_recomend, header .search_bar_recomend a {
    display: inline-block;
    color: white;
    font-size: 11px;
    margin-top: 7px;
    text-align: center;
}
.vr {
    padding: 0 5px 0 5px;
    border-left: 1px solid #ddd;
    height: auto;
}
.btn_masuk {
    width: 150px;
    padding: 8px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
}
.btn_daftar {
    background-color: #fff;
    width: 150px;
    padding: 8px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #0095da;
}
.tas {
    display: inline-block;
    position: relative;
}
.tas .isi_tas_number {
    display: inline-block;
    background-color: red;
    border-radius: 20px;
    padding: 3px 6px;
    color: white;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    top: -13px;
    right: -13px;
}
.tas .segitiga_atas {
    display: none;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 14px solid #fff;
    left: 0px;
    top: 20px;
}
.tas .bar_isi_tas {
    display: none;
    position: absolute;
    padding: 20px;
    margin-top: 15px;
    width: 430px;
    left: -200px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}
.tas .bar_isi_tas p {
    font-size: 12px;
    line-height: 20px;
    color: grey;
}
.tas .bar_isi_tas title {
    text-align: center;
    font-size: 20px;
    color: black;
}
.tas:hover .bar_isi_tas, .tas:hover .segitiga_atas {
    display: block;
}
.black_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
  }





/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .gallery {
    background: #EEE;
    z-index: 0  ;
    margin-bottom: 30px;
  }
  
  .gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    counter-increment: gallery-cell;
    z-index: 0;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: #f9f9f9;
  }
  
.menu_kategori {
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: stretch;
}
.menu_kategori .menu_kategori_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 45px;
    background-color: white;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;
}
.menu_kategori .menu_kategori_item div {
    display: inline-block;
} 
.menu_kategori .menu_kategori_item img {
    width: 40px;
    padding-right: 10px;
    vertical-align: middle;
}
.menu_kategori .menu_kategori_item .menu_kategori_item_text {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.menu_kategori_arrow_left {
    display: none;
    position: absolute;
    float: left;
    left: 10;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}
.menu_kategori_arrow_left img {
    width: 6px;
}
.menu_kategori_arrow_right {
    position: absolute;
    float: right;
    right: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}
.menu_kategori_arrow_right img {
    width: 6px;
}

